.cont{
    max-width: 350px;
    >h2{
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        color: #242424;
    }
    margin-bottom: 20px;
    &:nth-last-child(1){
        margin-bottom: 0;
    }
}
.imgCont{
    max-width: 350px;
    max-height: 106px;
    margin: 10px 0;
    >img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >p{
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        color:#404040;
    }
    button{
        border: 1px solid #9E9E9E;
        border-radius: 36px;
        padding: 12px 21px 12px 22px;
        width: 130px;
        &:hover{
            cursor: pointer;
        }
    }
}
@media screen and (min-width: 375px) {
    .cont{
        max-width: 100%
    }
    .imgCont{
        max-width: 556px;
        max-height: 168px;
    }
}
@media screen and (min-width: 575px) {
    .cont{
        max-width: 556px;
    }
}