.headerCont{
    padding: 7px 20px 12px;
    .headerUpper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logoCont{
    margin-right: 23px;
    width: 56px;
    height: 38.64px; 
    &:hover{
        cursor: pointer;
    }
}
.categoriesMin{
    justify-content: space-around;
}
.categoriesMax{
    display: none;
}

@media screen and ( min-width: 731px) {
    .categoriesMin{
        display: none;
    }   
    .logoCont{
        margin-right: 5px;
    }
    .categoriesMax{
        display: flex;
        justify-content: flex-start;
    }
}
@media screen and ( min-width: 1200px){
    .logoCont{
        min-width: 68px;
        min-height: 46.92px; 
    }
    
}
@media screen and ( min-width: 1439px){
    .categoriesMax{
        margin-left: 87.07px;
        margin-right: 97px; 
    }
    .headerCont{
        padding: 19px 155.67px 19px 154px;
    }
}