.userInfoCont{
    >h4{
        display: none;
    }
}
.info{
    width: 360px;
    height: 350px;
    overflow: auto;
    border: 1px solid #E0E0E0;
    border-radius: none;
    border-radius: 16px;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #E5E5E5;
        border-radius: 30px;
    }
    &::-webkit-scrollbar-thumb {
        background: #FFB800;
        border-radius: 27px;
    }
}
@media screen and ( min-width: 1221px){
    .userInfoCont{
        >h4{
            display: inline-block;
            width: 100%;
            text-align: left;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
            color: #0B0B0B;
        }
    }
    .info{
        width: 550px;
        height: 443px;
    }
}
@media screen and ( min-width: 1221px){
    .info{
        width: 600px;
    }
}