.categories{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
}
.catItem{
    display: flex;
    align-items: center;
    transition: color .2s linear;
    .imgCont1, .imgCont2, .imgCont3{
        >img{
            width: 100%;
            height: 100%; 
        }
        >svg{
            width: 100%;
            height: 100%;  
        }
    }
    &:hover{
        color: #E92424;
        .imgCont1, .imgCont2, .imgCont3{
            >svg{
                >path{
                    animation: svgColor .2s linear forwards;
                }
            }
           
        }
        
    }
}
.imgCont1{
    width: 36px;
    height: 36px;
    margin-right: 7.07px;
}
@keyframes svgColor {
    from{
        fill: black;
    }
    to{
        fill: #E92424;
    }
}
.imgCont2{
    width: 33px;
    height: 33px;
    margin-right: 6.03px;
}
.imgCont3{
    width: 33px;
    height: 33px;
}
@media screen and ( min-width: 730px) {
    .catItem:nth-child(1){
        margin-right: 36px;
    }
    .catItem:nth-child(2){
        margin-right: 33.22px;
    }
    .categories{
        padding: 0;
        justify-content: flex-start;
    }
}