.sliderContainer{
    max-width: 375px;
    height: 300px;
    overflow: hidden;
}
.sliderElement{
    .sliderImgMob{
        border-radius: 16px;
        height: 300px;
        background: url('../../assets/slider/sliderMob.png') center / cover no-repeat;
    }
    .bigSlider1, .bigSlider2,
    .bigSlider3, .bigSlider4{
        display: none;
    }
}
@media screen and ( min-width: 376px){
    .sliderContainer{
        max-width: 100%;
        height: 428px;
        overflow: hidden;
        padding: 0 27px;
    }
    .sliderElement{
        .sliderImgMob{
            display: none!important;
        }
        .bigSlider1, .bigSlider2,
        .bigSlider3, .bigSlider4{
            display: block;
            height: 428px;
            max-width: 1386px;
            border-radius: 16px;
        }
        .bigSlider1{
            background: url('../../assets/slider/sliderImg1.png') center / cover no-repeat;
        }
        .bigSlider2{
            background: url('../../assets/slider/sliderImg2.png') center / cover no-repeat;
        }
        .bigSlider3{
            background: url('../../assets/slider/sliderImg3.png') center / cover no-repeat;
        }
        .bigSlider4{
            background: url('../../assets/slider/sliderImg4.png') center / cover no-repeat;
        }
    }
  }