.menuCont, .menuContX, .menuContBig{
    &:hover{
        cursor: pointer;
    }
}
.menuCont:before,
.menuCont:after,
.menuCont div,
.menuContX:before,
.menuContX:after,
.menuContX div,
.menuContBig:before,
.menuContBig:after,
.menuContBig .burgerPart{
  background: #4D4D4D;
  content: " ";
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.5s;
}
.menuContX:before {
  transform: translateY(7px) rotate(135deg);
}
.menuContX:after {
  transform: translateY(-7px) rotate(-135deg);
}
.menuContX div {
  transform: scale(0);
}
.menuContBig{
  display: none;
}
@media screen and ( min-width: 700px){
    .menuContX, .menuCont{
      display: none;
    }
    .menuContBig{
      display: block;
      position: relative;
      &:hover{
        .absCont{
          display: block;
        }
      }
    }
    .absCont{
      display: none;
      position: absolute;
      top: 3px;
      right: -72px;
      z-index: 10;
      padding: 42px 20px 20px;
    }
    .decktopMenu{
      box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
        button{
          white-space: nowrap;
          width: 100%;
          background-color: #ffffff;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 400;
          color: #242424;
          text-align: left;
          >img{
            margin-right: 11px;
          }
          &:hover{
              cursor: pointer;
          }
          &:nth-of-type(1){
              border-top-left-radius: 14px;
              border-top-right-radius: 14px;
              padding: 16px 20px 12px;
              >img{
                width: 14px;
                height: 14px;
              }
          }
          &:nth-of-type(2){
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            padding: 12px 20px 12px;
            >img{
              width: 16px;
              height: 16px;
            }
        }
          &:nth-of-type(3){
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
            padding: 12px 20px 16px;
            >img{
              width: 19px;
              height: 19px;
            }
          }
        }
    }
}