.userIcon{
    display: block;
    position: relative;
    margin: 0 24.67px 0 21.67px;
    padding-top: 4px;
    img{
        width: 20px;
        height: 20px;
    }
    &:hover{
        .btnCont{
            display: block;
        }
    }
}
.btnCont{
    position: absolute;
    top: 0px;
    right: -37px;
    z-index: 15;
    padding-top: 45px;
    display: none;
    
}
.loginBtn{
    white-space: nowrap;
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    padding: 15px 40px 12px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
    &:hover{
        cursor: pointer;
    }
}
.exitBtn{
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #E92424;
    padding: 12px 40px 15px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top: 1px solid #E5E5E5;
    &:hover{
        cursor: pointer;
    }
}
.exitBtn, .loginBtn{
    display: flex;
    align-items: center;
    >img{
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
}
@media screen and(mim-width: 1200px) {
    .userIcon{
        margin: 0 18.65px;
    }
}