.userInfoCont{
    margin-bottom: 20px;
    >h4{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #0B0B0B;
    }
    .edit{
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 26px;
        height: 25.87px;
    }
}
.info{
    text-align: left;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    background: #FFFFFF;
    padding: 40px 18px 40px 22px;
    display: flex;
    flex-direction: column;
    >div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        >label, >p{
            color: #656565;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            min-width: 81px;
            margin-right: 4px;
            }
        >input{
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.1;
            width: 100%;
            max-width: 235px;
            padding: 10px 11px 11px;
            border-radius: 7px;
            border: 1px solid #D9D9D9;
        }
    }
}
.bithBig{
    display: none;
}
.adressCont{
    align-items: flex-start!important;
    margin-bottom: 0;
}
.adressItem{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 235px;
    margin-left: 11px;
    padding-bottom: 18px;
    >p{
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        white-space: nowrap;
    }
    >img{
        width: 12px;
        height: 12px; 
        margin-left: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}
.adressEdit{
    button{
        font-family: 'Fira Sans', sans-serif;
        &:nth-child(1){
            font-size: 16px;
            border-bottom: 1px solid #E92424;
            line-height: 1.1;
            color: #E92424;
        }
        &:nth-child(2){
            font-size: 16px;
            border-bottom: 1px solid #4D4D4D;
            line-height: 1.1;
            color: #4D4D4D;
            margin-left: 38px;
        }
        &:hover{
            border-bottom: none;
            cursor: pointer;
        }
    }
}
.btnSubmit{
    margin: 16px auto 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 39px; 
    background-color: #E92424;
    border-radius: 36px;
    transition: background-color .3s linear;
    &:hover{
        cursor: pointer;
        background-color: #CC1111;
    }
}
@media screen and(min-width: 1221px){
    .userInfoCont{
        >h4{
            text-align: left;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
            color: #0B0B0B;
        }
        .edit{
            bottom: 64.06px;
            right: 50px;
        }
    }
    .info{
        max-width: 468px;
        height: 445px;
        border: 1px solid #E0E0E0;
        border-radius: 16px;
        background: #FFFFFF;
        padding: 40px 40px 40px 32px;
        margin-right: 20px;
        >div{
            >label, >p{
                width: 105px;
                margin-right: 10px;
            }
        }
    }
    .bithMob{
        display: none;
    }
    .bithBig{
        display: inline-block;
    }
    .adressItem{
        >img{
            margin-left: 34px;
        }
    }
}
@media screen and ( min-width: 1440px){
    .info{
        padding: 40px 62px 40px 43px;
    }
}