html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.overflow{
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, span, p{
  margin: 0;
}
button{
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
@media screen and ( min-width: 376px){
  .container{
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
  }
}
@media screen and ( min-width: 621px){
  .container{
    width: 100%;
    max-width: 1200px;
  }
}
@media screen and ( min-width: 1200px){
  .container{
    width: 100%;
    max-width: 1440px;
  }
}
.userInfoCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px 20px 15px;
}
.userTitle{
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  color: #0B0B0B;
  text-align: center;
  margin: 30px auto 20px;
}
@media screen and ( min-width: 621px){
  .userTitle{
    font-size: 48px;
    margin: 60px auto 40px;
  }
}
@media screen and ( min-width: 1440px){
  .userInfoCont{
    padding: 0 154px 217px 154px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}


