/* slider styles */
.slick-list {
    
}
ul.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.slick-dots li{
    list-style: none;
    width: 14px!important;
    height: 14px!important;
    border-radius: 50%;
    border: 1px solid #868686;
    margin: 0 5px;
}

.slick-dots li button{
    background: none;
}

.slick-dots li button:before{
    content: ''!important;
}

.slick-dots li.slick-active{
    border: 1px solid #E92424;
    background-color: #E92424;
}